
.other-player__hand {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
}

/* each card spans 3 blocks, there is 8 cards, the last card spans 2 more blocks -> 10 blocks */
.other-player__hand {
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 100%;
}
.other-player__hand.other-player__hand--vertical {
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 10%);
}


.other-player__hand .other-player__hand__card {
  max-height: 100%;
  max-width: 100%;
  /* default values, gets overwritten */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.other-player__hand .other-player__hand__card.other-player__hand__card--vertical {
  transform: rotate(90deg);
}
